/* USER VARIABLES SECTION */

:root {
	--accent: #0069A9;
	--firstcolor: #E0453F;
	--fontsize: 16px;
	--textcolor: #222;
	--lineheight: 1.65;
	--userfont: monsterrat, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

@font-face { src: url("../fonts/Montserrat-Light.woff2") format("woff2"); font-family: "monsterrat"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/Montserrat-Regular.woff2") format("woff2"); font-family: "monsterrat"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/Montserrat-Medium.woff2") format("woff2"); font-family: "monsterrat"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"); font-family: "monsterrat"; font-weight: 600; font-style: normal; }


::placeholder { color: #666; }
::selection { background-color: var(--firstcolor); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

html{
	height: 100%;
}

body {
	font-family: var(--userfont);
	font-size: var(--fontsize);
	line-height: var(--lineheight);
	color: var(--textcolor);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.btn {
	border: none;
	background: none;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

h2 {
	font-weight: 500;
	font-size: 36px;
	сolor: #222;
}

h1 {
	font-weight: 500;
	font-size: 48px;
	сolor: #222;
	padding-bottom: 30px;
	/*margin-bottom: 150px;*/
	/*margin-top: 150px;*/

}

p {
	font-weight: 400;
	font-size: 18px;
	color: #222222;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.button__red {
	width: 300px;
	height: 60px;
	background-color: var(--firstcolor);
	border: 1px solid var(--firstcolor);
	border-radius: 3px;
	color: #fff;
	font-weight: 500;
	font-size: 24px;
	transition: .25s ease-in-out;
	margin-top: 50px;
}

.filter__button-button__blue {
	background-color: var(--accent);
	border: 1px solid var(--accent);
	border-radius: 3px;
	font-weight: 500;
	font-size: 18px;
	transition: .25s ease-in-out;
	margin-top: 30px;
	width: 200px;
	height: 40px;
	color: #fff;
}

.filter__button-button__red {
	background-color: var(--firstcolor);
	border: 1px solid var(--firstcolor);
	border-radius: 3px;
	font-weight: 500;
	font-size: 18px;
	transition: .25s ease-in-out;
	margin-top: 50px;
	width: 200px;
	height: 40px;
	color: #fff;
}

.button__send-form .button__red {
	margin: 0;
}

.button__red:hover {
	border: 3px solid var(--accent);
}

.button__red span {
	padding-right: 40px;
	transition: .25s ease-in-out;
}

.button__red span:hover {
	padding-right: 35px;
}

/* HEADER */

.header {
	flex: 0 0 auto;
}

.image {
	max-width: 100%;
	margin-bottom: var(--bs-gutter-x);
	border-radius: 4px;
}

.accent {
	color: var(--accent);
	font-weight: bold;
}

.header__top {
	background-color: var(--accent);
	height: 160px!important;
	border-bottom: 1px solid #fff;
}

.logo {
	line-height: 156px;
}

.contacts {
	height: 100%;
	line-height: 40px;
	color: #fff;
}

.contacts__phone a {
	text-decoration: none;
	color: #ffffff;
	transition: .25s ease-in-out;
}

.contacts__phone a:hover {
	color: var(--firstcolor);
}

.contacts__phone span {
	padding-left: 8px;
	color: #ffffff;
	transition: .25s ease-in-out;
	cursor: pointer;
}

.contacts__phone span:hover {
	color: var(--firstcolor);
}

.mobile__info {
	display: none!important;
}

.social__icons a {
	padding-right: 10px;
	padding-left: 10px;
}

.search {
	position: relative;
}

.input-group.search .search__form-input {
	border: none;
	background-color: var(--accent);
	color: #fff;
	border-bottom: 1px solid #fff;
	width: 100%;
	position: relative;
}

.search__form-input::placeholder {
	color: #ffffff;
	font-size: 14px;
}

.search__form-button {
	border: none;
	background: none;
	border-bottom: 1px solid #fff;
	position: absolute;
	right: 5px;
}

.search__form-button img {
	width: 17px;
}

.cart {
	position: relative;
}

.count {
	position: absolute;
	right: -5px;
	top: -13px;
	background-color: #ffffff;
	border-radius: 100px;
	width: 20px;
	height: 20px;
}

.count span {
	position: absolute;
	right: 5px;
	top: -2px;
	color: var(--firstcolor);
	font-weight: 500;
}

.header__bottom {
	background-color: var(--accent);
	height: 35px;
	line-height: 35px;
	position: relative;
}

.menu .menu__item a {
	display: block;
	color: #fff;
	height: 100%;
	padding-right: 15px;
	padding-left: 15px;
	transition: .25s ease-out;
}

.menu .menu__item a:hover {
	background-color: var(--firstcolor);
}

.menu__item.active a {
	background-color: var(--firstcolor);
}

.menu__mobile {
	display: none;
}

.sub {
	display: none;
	background: #fff;
	position: absolute;
	color: #000;
	width: 265px;
}

.sub a {
	color: #000!important;
}

.sub a:hover {
	color: #fff!important;
}


.text {
	padding-bottom: 70px;
}

/* END__HEADER */


/* WRAPPER */



/* END__WRAPPER */

.wrapper {
	flex: 1 0 auto;
}

.offer__slide {
	height: 700px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.info__banner {
	height: 100%;
}

.middle {
	margin-top: 50px;
	position: relative;
}

.bg__section-middle {
	background: url(../images/bg__middle.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	width: 60%;
	height: 689px;
	position: absolute;
	top: 28px;
	right: 0;
}



/* FOOTER */

.footer {
	width: 100%;
	background-color: #4B4B4B;
	color: #fff;
	height: 500px;
	flex: 0 0 auto;
}

.text__logo {
	font-size: 12px;
	text-align: center;
	margin-top: 30px;
	line-height: 1.5;
	width: 200px;
	font-weight: 300;
	color: #fff;
}

.social__footer {
	background: rgba(162, 162, 162, 0.45);
	border-radius: 3px;
	width: 265px;
	margin-top: 20px;
}

.social__icons {
	text-align: center;
}

.menu__footer {
	line-height: 60px;
}

.menu__item-footer a {
	text-decoration: none;
	color: #fff;
	transition: .25s ease-in-out;
}

.menu__item-footer a:hover {
	color: var(--accent);
}

.copyright {
	background-color: var(--accent);
	color: #ffffff;
	width: 100%;
	height: 50px;
	font-size: 12px;
	font-weight: 300;
}

.info {
	text-align: center;
	height: 450px;
}


.vantage__items {
	text-align: center;
}

.vantage__items img {
	width: 200px;
}

.vantage h1 {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}


/* produce section  */

.produce__grid {
	display: grid;
	grid-template-rows: 2fr 2fr;
	grid-template-columns: 0fr 1fr 1fr 1fr;
	gap: 20px;
	height: 100%;

}

.produce__grid p {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 3px;
	background-color: var(--accent);
	color: #fff;
}

.produce__item-first {

	background: linear-gradient(0deg, rgba(10, 105, 169, 0.3), rgba(10, 105, 169, 0.3)), url("../images/product1.png") no-repeat;
	background-size: cover;
	grid-row-start: 1;
	grid-column-start: 1;
	grid-row-end: 3;
	grid-column-end: 3;
	height: 800px;
	position: relative;
	cursor: pointer;
}

.produce__item-second {

	background: var(--accent);
	background-size: cover;
	grid-row-start: 1;
	grid-column-start: 3;
	grid-row-end: 2;
	grid-column-end: 4;
	height: 400px;
	position: relative;
	cursor: pointer;
}

.about__info p {
	right: 93px;
	left: 35px;
	top: 95px;
}

.about__info img {
	position: absolute;
	top: 200px;
	left: 41px;
}

.produce__item-third {

	background: linear-gradient(0deg, rgba(10, 105, 169, 0.3), rgba(10, 105, 169, 0.3)), url("../images/product3.png") no-repeat;
	background-size: cover;
	grid-row-start: 1;
	grid-column-start: 4;
	grid-row-end: 2;
	grid-column-end: 5;
	height: 400px;
	position: relative;
	cursor: pointer;
}

.produce__item-fourth {

	background: linear-gradient(0deg, rgba(10, 105, 169, 0.3), rgba(10, 105, 169, 0.3)), url("../images/product4.png") no-repeat;
	background-size: cover;
	grid-row-start: 2;
	grid-column-start: 3;
	grid-row-end: 3;
	grid-column-end: 5;
	height: 380px;
	position: relative;
	cursor: pointer;
}

.produce {
	margin-bottom: 60px;
}

.produce h1 {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 50px;
}

.feedback {
	background: url("../images/feedback__bg.png") no-repeat;
	background-size: cover;
	height: 700px;
}

.feedback__container{
	height: 590px;
	margin-top: 60px;
}

.feedback h1 {
	color: #ffffff;
	text-align: center;
	margin: 0;
}

.feedback p {
	color: #ffffff;
	text-align: center;
	font-size: 18px;
}

.form input {
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	background: rgba(196, 196, 196, 0.62);
	border: none;
	border-radius: 3px;
}

.form input::placeholder {
	color: #000;
}

.form textarea {
	width: 100%;
	background: rgba(196, 196, 196, 0.62);
	border: none;
	border-radius: 3px;
}

.form textarea::placeholder {
	color: #000000;
}

.geography h1 {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 70px;
}

.politics {
	padding-top: 15px;
}

.container__map {
	margin-bottom: 65px;
}

.container__mobile {
	display: none!important;
}

/* product */

.breadcrumbs a {
	font-size: 12px;
	font-weight: 300;
	cursor: pointer;
	color: #797979;
	transition: .25s ease-in-out;
}

.breadcrumbs span {
	padding-right: 5px;
	padding-left: 5px;
}

.breadcrumbs a:hover {
	color: #222222;
}

/* filters
 */

.filter__items-applicability, .filter__items-fromUGP, .filter__items-diesel {
	border-bottom: 1px solid #999;
	cursor: pointer;
}

.filter__items {
	box-shadow: 3px 4px 5px rgb(0 0 0 / 6%);
	height: auto;
}

.filter__items-availability {
	text-align: center;
	padding-top: 50px;
}

.filter__button {
	text-align: center;
}

.dump__link {
	display: block;
	width: 100%;
	text-align: center;
	text-decoration: underline;
	padding-top: 20px;
	padding-bottom: 40px;
}

.filter__name {
	line-height: 2.4;
	height: 100%;
}

.options-panel {
	display: none;
	margin-left: 29px;
	width: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.option__block {
	display: inline-block;
	padding-right: 10px;
}

.filter__name img {
	padding-right: 20px;
}


/* product__list */

.product__list {
	margin-top: 50px;
}

.product__list-group {
	flex-flow: wrap;
}

.product__list-item {
	width: 300px;
	height: 400px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
	text-align: center;
	cursor: pointer;
	transition: .15s ease-out;
}

.product__list-item:hover {
	height: 600px;
	margin-bottom: -170px;
	z-index: 1;

}

.hidden__block-button {
	display: none;
}

.product__list-item:hover .hidden__block-button {
	display: block;
}

.product__list-item p {
	font-size: 14px;
	padding: 10px;
}

.product__list-item img {
	margin-top: 40px;
	margin-bottom: 40px;
}

.product__list-item a {
	font-size: 14px;
	text-decoration: underline;
}

.menu__mobile-container {
	display: none;
}

.sort__product-items a {
	color: #999999;
	font-size: 18px;
	font-weight: 500;
	padding-right: 20px;
	transition: .25s ease-in-out;
}

.sort__product-items a:hover {
	color: #222222;
}

.sort__product-items a.active {
	color: #222222;
}

.pagination-container span {
	color: #999;
	margin-bottom: 10px;
}

.pagination__list {
	margin-top: 15px;
}

.pagination__list a {
	padding: 5px 10px;
	color: #797979;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	width: 100%;
	transition: .25s ease-in-out;
}

.pagination__list a:hover {
	color: var(--accent);
	background: rgba(196, 196, 196, 0.3);
}

.pagination__list a.active {
	color: var(--accent);
	background: rgba(196, 196, 196, 0.3);
}

.about__container {
	margin-top: 40px;
	margin-bottom: 50px;
}

.breadcrumbs {
	margin-top: 75px;
}

.title {
	margin-top: 30px;
	margin-bottom: 70px;
}

/* product-card */

.product__thumbnails-list li {
	padding-right: 20px;
}

.product__right {
	width: 580px;
}

.product__button-button__red, .product__button-button__blue {
	width: 265px;
	height: 39px;
	border: none;
	color: #fff;
	font-size: 18px;
}

.product__button-group {
	margin-top: 30px;
}

.product__button-button__red {
	background-color: var(--firstcolor);
}

.product__button-button__blue {
	background-color: var(--accent);
}

.special__offer {
	color: var(--accent);
	transition: .25s ease-in-out;
}

.special__offer:hover {
	color: var(--accent);
	text-decoration: underline;
}

.menu__list-product {
	margin-top: 50px;
}

.menu__list li {
	padding-bottom: 10px;
}

.menu__list img {
	padding-right: 10px;
}

.menu__list a {
	color: #222222;
	transition: .25s ease-in-out;
}

.menu__list a:hover {
	text-decoration: underline;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabs {
	margin-top: 100px;
	margin-bottom: 20px;
}

.tabs__content {
	margin-bottom: 50px;
}

.tabs__nav-list a {
	font-size: 18px;
	text-align: center;
	color: #222;
	transition: .25s ease-in-out;
	padding: 10px 30px;
}

.tabs__nav-list a:hover {
	background-color: var(--accent);
	color: #fff;
}

.tabs__nav-list a.active {
	background-color: var(--accent);
	color: #fff;
}

/* cart */

.cart__product-info .title {
	margin: 0;
}

.column__right__menu-list {
	text-align: center;
}

.column__right__menu-list li {
	height: 40px;
	background: linear-gradient(0deg, rgba(0, 105, 169, 0.2), rgba(0, 105, 169, 0.2)), #FFFFFF;
	border: 1px solid rgba(45, 45, 45, 0.1);
	transition: .25s ease-in-out;
}

.column__right__menu-list li.active {
	background: #fff;
}

.column__right__menu-list li:hover {
	background: #fff;
}

.column__right__menu-list a {
	width: 100%;
	height: 100%;
	display: block;
	line-height: 2.4;
	color: #222;
}

.cart__product {
	padding-bottom: 30px;
}

.cart__product-info .title__product {
	font-weight: 600;
	font-size: 16px;
}

.cart__product-info .title__model {
	color: #797979;
	font-size: 14px;
}

.minus, .plus {
	cursor: pointer;
}

.count-summ {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	font-weight: 600;
}

.price__title, .summ__title, .summ__price-total {
	font-weight: 600;
}

.summ__price-total {
	margin-top: 60px;
	margin-bottom: 40px;
}

.cart__button-button__white {
	width: 196px;
	height: 39px;
	background: #FFFFFF;
	border: 1px solid #222222;
	font-weight: 600;
	line-height: 2.5;
}

.cart__button-button__red {
	width: 196px;
	height: 39px;
	background: var(--firstcolor);
	border: 1px solid var(--firstcolor);
	color: #fff;
	font-weight: 600;
	line-height: 2.5;
}

.cart__product-delete {
	cursor: pointer;
}

.cart__button-group {
	margin-bottom: 50px;
}

/* thanks */

.thanks__info {
	margin-bottom: 70px;
}

.thanks__info p {
	font-weight: 500;
	font-size: 24px;
}

.thanks .contacts__phone a {
	color: #222;
	font-weight: 500;
}

.thanks .contact__adress span {
	color: #222;
	font-weight: 500;
}

.thanks .social__icons {
	text-align: left;
	margin-top: 40px;
	margin-bottom: 60px;
}

.thanks .social__icons a {
	padding-left: 0;
}

.list-product-title {
	padding-top: 70px;
	padding-bottom: 40px;
	font-size: 18px;
	font-weight: 600;
}

/* dilers */

.table__product {
	margin-top: 50px;
	margin-bottom: 50px;
}

.resp-tab {
	border-radius: 5px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	text-align: center;
}
.resp-tab th, .resp-tab td {
	padding: 10px 20px;
	font-size: 13px;
	border: none;
	font-family: Verdana, sans-serif;
	border: 1px solid var(--accent);
	vertical-align: top;
}
.resp-tab th {
	color: #FFF;
	background: var(--accent);
	font-weight: bold;
	border: 1px solid #1a4a73;
	text-transform: uppercase;
	text-align: center;
}
.resp-tab tr:nth-child(even) {
	background: #edf7ff;
}
.resp-tab td span {
	background: #337AB7;
	color: #FFF;
	display: none;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;
}

.table__button-button__red {
	background-color: var(--firstcolor);
	border: 1px solid var(--firstcolor);
	border-radius: 3px;
	font-weight: 500;
	font-size: 14px;
	transition: .25s ease-in-out;
	width: 150px;
	height: 30px;
	color: #fff;
}

/* assembly */

.assembly__bg {
	background: url("../images/assembly__bg.png") no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.assembly__photo {
	margin-top: 30px;
	margin-bottom: 100px;
}

.assembly__photo img {
	cursor: pointer;
}

/* our */

.table__button-button__white {
	background-color: #fff;
	border: 1px solid #222;
	border-radius: 3px;
	white-space: nowrap;
	height: 30px;
	font-size: 14px;
}

.form__about-illiquid {
	margin-top: 100px;
	margin-bottom: 50px;
}

.form__about-illiquid p {
	text-align: left;
	font-size: 24px;
	font-weight: 600;
}

.feedback__form-illiquid input {
	width: 50%;
	background-color: #fff;
	border: 1px solid #9E9E9E;
	font-size: 12px;
	padding-left: 10px;
}

.form__fb-illiquid {
	text-align: center;
}

.feedback__form-illiquid .politics p {
	font-size: 14px;
	font-weight: 400;
}

/* info */

.info__text-list {
	margin-bottom: 100px;
}

.info__text-list img {
	padding-right: 20px;
	width: 120px;
	margin-bottom: 20px;
	padding-left: 30px;
}

.info__text-list a {
	font-size: 20px;
	color: #222;
	font-weight: 600;
	transition: .25s ease-in-out;
}

.info__text-list a:hover {
	color: var(--accent);
	text-decoration: underline;
}

/* help */

.help__photo {
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.help__photo-item {
	width: 45%;
	height: 308px;
	background-color: var(--accent);
	margin: 23px;
	text-align: center;
	cursor: pointer;
}

.seo__text-bottom {
	margin-bottom: 50px;
}

/* news */

.news {
	margin-bottom: 50px;
}

.news__container img {
	width: 300px;
}

.news__container .news__title p {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 16px;
}

.news__button-white {
	background-color: #ffffff;
	border: 1px solid #222;
	border-radius: 3px;
	height: 40px;
}

.news__button-white a {
	color: #222;
}

.news__container-page .image img {
	width: 300px;
	float: left;
	padding-right: 20px;
}

.img-for-text {
	width: 300px;
	float: right;
}
.news__container-page .news__title p {
	float: inherit;
}

/* delivery */

.delivery__company-item {
	background-color: #9E9E9E;
	width: 200px;
	height: 115px;
	padding: 10px;
	text-align: center;
	margin-bottom: 20px;
	cursor: pointer;
	transition: .25s ease-in-out;
}

.delivery__company-item:hover {
	box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);
}

.delivery__company-item .image img {
	width: 100px;
}

.delivery__company-item.active {
	box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);
}

.delivery__company {
	flex-wrap: wrap;
	margin-top: 50px;
	margin-bottom: 100px;
}

.delivery__text-calculator {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.delivery__text-calculator p {
	font-weight: 600;
	font-size: 24px;
}

/* contacts */

.contacts__map {
	width: 80%;
}

.contacts__info .social__icons {
	text-align: left;
}

.contacts__info a {
	color: #222;
	font-weight: 600;
}

.contacts__info {
	line-height: 4;
	color: #222;
	font-weight: 600;
}

.form__contact {
	margin-top: 50px;
	margin-bottom: 50px;
}

.form__contact .politics p {
	font-size: 12px;
}

.form__contact input {
	background-color: #ffffff;
	border: 1px solid #9b9b9b;
	border-radius: 3px;
	font-size: 12px;
	padding-left: 20px;
}

/* login */

.login__form {
	width: 400px;
	margin-bottom: 70px;
}

.login__form p {
	font-size: 14px;
}

.login__form input {
	background-color: #ffffff;
	font-size: 14px;
	padding-left: 30px;
	border: 1px solid #9E9E9E;

}

.reduction__form {
	width: 400px;
	margin-bottom: 70px;
}

.reduction__form p {
	font-size: 14px;
}

.reduction__form input {
	background-color: #ffffff;
	font-size: 14px;
	padding-left: 30px;
	border: 1px solid #9E9E9E;
}

.registration__form {
	width: 400px;
	margin-bottom: 70px;
}

.registration__form p {
	font-size: 14px;
}

.registration__form input {
	background-color: #ffffff;
	font-size: 14px;
	padding-left: 30px;
	border: 1px solid #9E9E9E;
}

.bushel__password-red {
	background-color: var(--firstcolor);
	height: 40px;
	border: 1px solid var(--firstcolor);
	border-radius: 3px;
	margin-bottom: 10px;
}

.bushel__password-red a {
	color: #fff;
}

.bushel__password-blue {
	background-color: var(--accent);
	height: 40px;
	border: 1px solid var(--accent);
	border-radius: 3px;
	margin-bottom: 10px;
}

.bushel__password-blue a {
	color: #fff;
}

/* get cart */

.cart-form {
	margin-top: 200px;
}

.cart-form p {
	font-weight: 600;
}

.cart-form .politics p {
	font-weight: 400;
}

/* production top */

.items__product-fly {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	z-index: 9;
}

.items__product-fly .one__img {
	position: absolute;
	left: 169px;
	top: 100px;
	transform: rotate(-12deg);
	z-index: 0;
	width: 400px;
}

.items__product-fly .two__img {
	position: absolute;
	right: 170px;
	top: 95px;
	transform: rotate(11deg);
	z-index: 0;
	width: 400px;
}

.items__product-fly .three__img {
	position: absolute;
	right: 238px;
	top: 258px;
	transform: rotate(42deg);
	z-index: 0;
	width: 400px;
}

.items__product-fly .four__img {
	position: absolute;
	left: 240px;
	top: 258px;
	transform: rotate(-41deg);
	z-index: 0;
	width: 400px;
}

.items__product-fly .five__img {
	position: absolute;
	left: 450px;
	top: 190px;
	width: 400px;
	transform: rotate(270deg);
	z-index: 0;
}

.items__product-fly .six__img {
	position: absolute;
	right: 240px;
	top: 614px;
	transform: rotate(-36deg);
	z-index: 0;
	width: 400px;
}

.items__product-fly2 {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 100px;
}

.absolution__container-item-1, .absolution__container-item-2, .absolution__container-item-3, .absolution__container-item-4, .absolution__container-item-5, .absolution__container-item-6, .absolution__container-item-7 {
	width: 200px;
	height: 200px;
	background-color: #e5e5e5;
	border-radius: 100px;
	z-index: 9;
	transition: .25s ease-in-out;
}

.absolution__container-item-1:hover, .absolution__container-item-2:hover, .absolution__container-item-3:hover, .absolution__container-item-4:hover, .absolution__container-item-5:hover, .absolution__container-item-6:hover, .absolution__container-item-7:hover {
	box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);
}

.absolution__container-item-1 a, .absolution__container-item-2 a, .absolution__container-item-3 a, .absolution__container-item-4 a, .absolution__container-item-5 a, .absolution__container-item-6 a, .absolution__container-item-7 a {
	display: block;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	font-size: 16px;
	padding-top: 90px;
	text-align: center;
	color: #222;
	font-weight: 600;
}

.absolution__container-item-1, .absolution__container-item-3 {
	margin-top: 100px;
}

.absolution__container-item-4, .absolution__container-item-6 {
	margin-top: 100px;
}

.fly__production {
	margin-bottom: 300px;
}

.fly__fly {
	position: relative;
}

.fly__production-item1, .fly__production-item2, .fly__production-item3 {
	position: absolute;
	z-index: 9;
}

.fly__production-item1 a, .fly__production-item2 a, .fly__production-item3 a {
	color: #222;
	font-weight: 600;
	font-size: 20px;
	transition: .25s ease-in-out;
	z-index: 9;
}

.fly__production-item1 a:hover, .fly__production-item2 a:hover, .fly__production-item3 a:hover {
	text-shadow: 4px 4px 8px rgba(150, 150, 150, 1);
}



.fly__production-item1 {
	left: 673px;
	top: -60px;
}

.fly__production-item2 {
	left: 571px;
	top: 169px;
}

.fly__production-item3 {
	left: 80px;
}

.fly__fly .img__one {
	position: absolute;
	width: 145px;
	transform: rotate(-63deg);
	top: -73px;
	left: 128px;
	z-index: 0;
}

.fly__fly .img__three {
	position: absolute;
	width: 145px;
	transform: rotate(28deg);
	top: -105px;
	right: 617px;
	z-index: 0;
}

.fly__fly .img__two {
	position: absolute;
	width: 466px;
	transform: rotate(-142deg);
	top: 4px;
	left: 272px;
	z-index: 0;
}

	/* modal */

.open-modal {
	overflow: hidden;
}

.open-mobile {
	overflow: scroll;
}

.open-modal::before {
	content: "";
	background-color: rgba(0,0,0,.4);
	position: absolute;
	width: 100%;
	height: 114%;
	top: 0;
	z-index: 999;
}


/*.geography__map {*/
/*	background: url("../images/map.png") no-repeat;*/
/*	background-size: cover;*/
/*}*/



/* END__FOOTER */

