/*!*!*/
/*Theme Name: 32po*/
/*Theme URI: http://underscores.me/*/
/*Author: Dmitry Bobkov*/
/*Author URI: https://freelance.ru/dmitrybob*/
/*Description: Description*/
/*Version: 1.0.0*/

/**!*/

/*!*--------------------------------------------------------------*/
/*>>> TABLE OF CONTENTS:*/
/*----------------------------------------------------------------*/
/*# Generic*/
/*	- Normalize*/
/*	- Box sizing*/
/*# Base*/
/*	- Typography*/
/*	- Elements*/
/*	- Links*/
/*	- Forms*/
/*## Layouts*/
/*# Components*/
/*	- Navigation*/
/*	- Posts and pages*/
/*	- Comments*/
/*	- Widgets*/
/*	- Media*/
/*	- Captions*/
/*	- Galleries*/
/*# plugins*/
/*	- Jetpack infinite scroll*/
/*# Utilities*/
/*	- Accessibility*/
/*	- Alignments*/

/*--------------------------------------------------------------*!*/

/*!*--------------------------------------------------------------*/
/*# Generic*/
/*--------------------------------------------------------------*!*/

/*!* Normalize*/
/*--------------------------------------------- *!*/

/*!*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css *!*/

/*!* Document*/
/*	 ========================================================================== *!*/

/*!***/
/* * 1. Correct the line height in all browsers.*/
/* * 2. Prevent adjustments of font size after orientation changes in iOS.*/
/* *!*/
/*html {*/
/*	line-height: 1.15;*/
/*	-webkit-text-size-adjust: 100%;*/
/*}*/

/*!* Sections*/
/*	 ========================================================================== *!*/

/*!***/
/* * Remove the margin in all browsers.*/
/* *!*/
/*body {*/
/*	margin: 0;*/
/*}*/

/*!***/
/* * Render the `main` element consistently in IE.*/
/* *!*/
/*main {*/
/*	display: block;*/
/*}*/

/*!***/
/* * Correct the font size and margin on `h1` elements within `section` and*/
/* * `article` contexts in Chrome, Firefox, and Safari.*/
/* *!*/
/*h1 {*/
/*	font-size: 2em;*/
/*	margin: 0.67em 0;*/
/*}*/

/*!* Grouping content*/
/*	 ========================================================================== *!*/

/*!***/
/* * 1. Add the correct box sizing in Firefox.*/
/* * 2. Show the overflow in Edge and IE.*/
/* *!*/
/*hr {*/
/*	box-sizing: content-box;*/
/*	height: 0;*/
/*	overflow: visible;*/
/*}*/

/*!***/
/* * 1. Correct the inheritance and scaling of font size in all browsers.*/
/* * 2. Correct the odd `em` font sizing in all browsers.*/
/* *!*/
/*pre {*/
/*	font-family: monospace, monospace;*/
/*	font-size: 1em;*/
/*}*/

/*!* Text-level semantics*/
/*	 ========================================================================== *!*/

/*!***/
/* * Remove the gray background on active links in IE 10.*/
/* *!*/
/*a {*/
/*	background-color: transparent;*/
/*}*/

/*!***/
/* * 1. Remove the bottom border in Chrome 57-*/
/* * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.*/
/* *!*/
/*abbr[title] {*/
/*	border-bottom: none;*/
/*	text-decoration: underline;*/
/*	text-decoration: underline dotted;*/
/*}*/

/*!***/
/* * Add the correct font weight in Chrome, Edge, and Safari.*/
/* *!*/
/*b,*/
/*strong {*/
/*	font-weight: bolder;*/
/*}*/

/*!***/
/* * 1. Correct the inheritance and scaling of font size in all browsers.*/
/* * 2. Correct the odd `em` font sizing in all browsers.*/
/* *!*/
/*code,*/
/*kbd,*/
/*samp {*/
/*	font-family: monospace, monospace;*/
/*	font-size: 1em;*/
/*}*/

/*!***/
/* * Add the correct font size in all browsers.*/
/* *!*/
/*small {*/
/*	font-size: 80%;*/
/*}*/

/*!***/
/* * Prevent `sub` and `sup` elements from affecting the line height in*/
/* * all browsers.*/
/* *!*/
/*sub,*/
/*sup {*/
/*	font-size: 75%;*/
/*	line-height: 0;*/
/*	position: relative;*/
/*	vertical-align: baseline;*/
/*}*/

/*sub {*/
/*	bottom: -0.25em;*/
/*}*/

/*sup {*/
/*	top: -0.5em;*/
/*}*/

/*!* Embedded content*/
/*	 ========================================================================== *!*/

/*!***/
/* * Remove the border on images inside links in IE 10.*/
/* *!*/
/*img {*/
/*	border-style: none;*/
/*}*/

/*!* Forms*/
/*	 ========================================================================== *!*/

/*!***/
/* * 1. Change the font styles in all browsers.*/
/* * 2. Remove the margin in Firefox and Safari.*/
/* *!*/
/*button,*/
/*input,*/
/*optgroup,*/
/*select,*/
/*textarea {*/
/*	font-family: inherit;*/
/*	font-size: 100%;*/
/*	line-height: 1.15;*/
/*	margin: 0;*/
/*}*/

/*!***/
/* * Show the overflow in IE.*/
/* * 1. Show the overflow in Edge.*/
/* *!*/
/*button,*/
/*input {*/
/*	overflow: visible;*/
/*}*/

/*!***/
/* * Remove the inheritance of text transform in Edge, Firefox, and IE.*/
/* * 1. Remove the inheritance of text transform in Firefox.*/
/* *!*/
/*button,*/
/*select {*/
/*	text-transform: none;*/
/*}*/

/*!***/
/* * Correct the inability to style clickable types in iOS and Safari.*/
/* *!*/
/*button,*/
/*[type="button"],*/
/*[type="reset"],*/
/*[type="submit"] {*/
/*	-webkit-appearance: button;*/
/*}*/

/*!***/
/* * Remove the inner border and padding in Firefox.*/
/* *!*/
/*button::-moz-focus-inner,*/
/*[type="button"]::-moz-focus-inner,*/
/*[type="reset"]::-moz-focus-inner,*/
/*[type="submit"]::-moz-focus-inner {*/
/*	border-style: none;*/
/*	padding: 0;*/
/*}*/

/*!***/
/* * Restore the focus styles unset by the previous rule.*/
/* *!*/
/*button:-moz-focusring,*/
/*[type="button"]:-moz-focusring,*/
/*[type="reset"]:-moz-focusring,*/
/*[type="submit"]:-moz-focusring {*/
/*	outline: 1px dotted ButtonText;*/
/*}*/

/*!***/
/* * Correct the padding in Firefox.*/
/* *!*/
/*fieldset {*/
/*	padding: 0.35em 0.75em 0.625em;*/
/*}*/

/*!***/
/* * 1. Correct the text wrapping in Edge and IE.*/
/* * 2. Correct the color inheritance from `fieldset` elements in IE.*/
/* * 3. Remove the padding so developers are not caught out when they zero out*/
/* *		`fieldset` elements in all browsers.*/
/* *!*/
/*legend {*/
/*	box-sizing: border-box;*/
/*	color: inherit;*/
/*	display: table;*/
/*	max-width: 100%;*/
/*	padding: 0;*/
/*	white-space: normal;*/
/*}*/

/*!***/
/* * Add the correct vertical alignment in Chrome, Firefox, and Opera.*/
/* *!*/
/*progress {*/
/*	vertical-align: baseline;*/
/*}*/

/*!***/
/* * Remove the default vertical scrollbar in IE 10+.*/
/* *!*/
/*textarea {*/
/*	overflow: auto;*/
/*}*/

/*!***/
/* * 1. Add the correct box sizing in IE 10.*/
/* * 2. Remove the padding in IE 10.*/
/* *!*/
/*[type="checkbox"],*/
/*[type="radio"] {*/
/*	box-sizing: border-box;*/
/*	padding: 0;*/
/*}*/

/*!***/
/* * Correct the cursor style of increment and decrement buttons in Chrome.*/
/* *!*/
/*[type="number"]::-webkit-inner-spin-button,*/
/*[type="number"]::-webkit-outer-spin-button {*/
/*	height: auto;*/
/*}*/

/*!***/
/* * 1. Correct the odd appearance in Chrome and Safari.*/
/* * 2. Correct the outline style in Safari.*/
/* *!*/
/*[type="search"] {*/
/*	-webkit-appearance: textfield;*/
/*	outline-offset: -2px;*/
/*}*/

/*!***/
/* * Remove the inner padding in Chrome and Safari on macOS.*/
/* *!*/
/*[type="search"]::-webkit-search-decoration {*/
/*	-webkit-appearance: none;*/
/*}*/

/*!***/
/* * 1. Correct the inability to style clickable types in iOS and Safari.*/
/* * 2. Change font properties to `inherit` in Safari.*/
/* *!*/
/*::-webkit-file-upload-button {*/
/*	-webkit-appearance: button;*/
/*	font: inherit;*/
/*}*/

/*!* Interactive*/
/*	 ========================================================================== *!*/

/*!**/
/* * Add the correct display in Edge, IE 10+, and Firefox.*/
/* *!*/
/*details {*/
/*	display: block;*/
/*}*/

/*!**/
/* * Add the correct display in all browsers.*/
/* *!*/
/*summary {*/
/*	display: list-item;*/
/*}*/

/*!* Misc*/
/*	 ========================================================================== *!*/

/*!***/
/* * Add the correct display in IE 10+.*/
/* *!*/
/*template {*/
/*	display: none;*/
/*}*/

/*!***/
/* * Add the correct display in IE 10.*/
/* *!*/
/*[hidden] {*/
/*	display: none;*/
/*}*/

/*!* Box sizing*/
/*--------------------------------------------- *!*/

/*!* Inherit box-sizing to more easily change it's value on a component level.*/
/*@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ *!*/
/**,*/
/**::before,*/
/**::after {*/
/*	box-sizing: inherit;*/
/*}*/

/*html {*/
/*	box-sizing: border-box;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Base*/
/*--------------------------------------------------------------*!*/

/*!* Typography*/
/*--------------------------------------------- *!*/
/*body,*/
/*button,*/
/*input,*/
/*select,*/
/*optgroup,*/
/*textarea {*/
/*	color: #404040;*/
/*	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
/*	font-size: 1rem;*/
/*	line-height: 1.5;*/
/*}*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5,*/
/*h6 {*/
/*	clear: both;*/
/*}*/

/*p {*/
/*	margin-bottom: 1.5em;*/
/*}*/

/*dfn,*/
/*cite,*/
/*em,*/
/*i {*/
/*	font-style: italic;*/
/*}*/

/*blockquote {*/
/*	margin: 0 1.5em;*/
/*}*/

/*address {*/
/*	margin: 0 0 1.5em;*/
/*}*/

/*pre {*/
/*	background: #eee;*/
/*	font-family: "Courier 10 Pitch", courier, monospace;*/
/*	line-height: 1.6;*/
/*	margin-bottom: 1.6em;*/
/*	max-width: 100%;*/
/*	overflow: auto;*/
/*	padding: 1.6em;*/
/*}*/

/*code,*/
/*kbd,*/
/*tt,*/
/*var {*/
/*	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;*/
/*}*/

/*abbr,*/
/*acronym {*/
/*	border-bottom: 1px dotted #666;*/
/*	cursor: help;*/
/*}*/

/*mark,*/
/*ins {*/
/*	background: #fff9c0;*/
/*	text-decoration: none;*/
/*}*/

/*big {*/
/*	font-size: 125%;*/
/*}*/

/*!* Elements*/
/*--------------------------------------------- *!*/
/*body {*/
/*	background: #fff;*/
/*}*/

/*hr {*/
/*	background-color: #ccc;*/
/*	border: 0;*/
/*	height: 1px;*/
/*	margin-bottom: 1.5em;*/
/*}*/

/*ul,*/
/*ol {*/
/*	margin: 0 0 1.5em 3em;*/
/*}*/

/*ul {*/
/*	list-style: disc;*/
/*}*/

/*ol {*/
/*	list-style: decimal;*/
/*}*/

/*li > ul,*/
/*li > ol {*/
/*	margin-bottom: 0;*/
/*	margin-left: 1.5em;*/
/*}*/

/*dt {*/
/*	font-weight: 700;*/
/*}*/

/*dd {*/
/*	margin: 0 1.5em 1.5em;*/
/*}*/

/*!* Make sure embeds and iframes fit their containers. *!*/
/*embed,*/
/*iframe,*/
/*object {*/
/*	max-width: 100%;*/
/*}*/

/*img {*/
/*	height: auto;*/
/*	max-width: 100%;*/
/*}*/

/*figure {*/
/*	margin: 1em 0;*/
/*}*/

/*table {*/
/*	margin: 0 0 1.5em;*/
/*	width: 100%;*/
/*}*/

/*!* Links*/
/*--------------------------------------------- *!*/
/*a {*/
/*	color: #4169e1;*/
/*}*/

/*a:visited {*/
/*	color: #800080;*/
/*}*/

/*a:hover,*/
/*a:focus,*/
/*a:active {*/
/*	color: #191970;*/
/*}*/

/*a:focus {*/
/*	outline: thin dotted;*/
/*}*/

/*a:hover,*/
/*a:active {*/
/*	outline: 0;*/
/*}*/

/*!* Forms*/
/*--------------------------------------------- *!*/
/*button,*/
/*input[type="button"],*/
/*input[type="reset"],*/
/*input[type="submit"] {*/
/*	border: 1px solid;*/
/*	border-color: #ccc #ccc #bbb;*/
/*	border-radius: 3px;*/
/*	background: #e6e6e6;*/
/*	color: rgba(0, 0, 0, 0.8);*/
/*	line-height: 1;*/
/*	padding: 0.6em 1em 0.4em;*/
/*}*/

/*button:hover,*/
/*input[type="button"]:hover,*/
/*input[type="reset"]:hover,*/
/*input[type="submit"]:hover {*/
/*	border-color: #ccc #bbb #aaa;*/
/*}*/

/*button:active,*/
/*button:focus,*/
/*input[type="button"]:active,*/
/*input[type="button"]:focus,*/
/*input[type="reset"]:active,*/
/*input[type="reset"]:focus,*/
/*input[type="submit"]:active,*/
/*input[type="submit"]:focus {*/
/*	border-color: #aaa #bbb #bbb;*/
/*}*/

/*input[type="text"],*/
/*input[type="email"],*/
/*input[type="url"],*/
/*input[type="password"],*/
/*input[type="search"],*/
/*input[type="number"],*/
/*input[type="tel"],*/
/*input[type="range"],*/
/*input[type="date"],*/
/*input[type="month"],*/
/*input[type="week"],*/
/*input[type="time"],*/
/*input[type="datetime"],*/
/*input[type="datetime-local"],*/
/*input[type="color"],*/
/*textarea {*/
/*	color: #666;*/
/*	border: 1px solid #ccc;*/
/*	border-radius: 3px;*/
/*	padding: 3px;*/
/*}*/

/*input[type="text"]:focus,*/
/*input[type="email"]:focus,*/
/*input[type="url"]:focus,*/
/*input[type="password"]:focus,*/
/*input[type="search"]:focus,*/
/*input[type="number"]:focus,*/
/*input[type="tel"]:focus,*/
/*input[type="range"]:focus,*/
/*input[type="date"]:focus,*/
/*input[type="month"]:focus,*/
/*input[type="week"]:focus,*/
/*input[type="time"]:focus,*/
/*input[type="datetime"]:focus,*/
/*input[type="datetime-local"]:focus,*/
/*input[type="color"]:focus,*/
/*textarea:focus {*/
/*	color: #111;*/
/*}*/

/*select {*/
/*	border: 1px solid #ccc;*/
/*}*/

/*textarea {*/
/*	width: 100%;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Layouts*/
/*--------------------------------------------------------------*!*/

/*!*--------------------------------------------------------------*/
/*# Components*/
/*--------------------------------------------------------------*!*/

/*!* Navigation*/
/*--------------------------------------------- *!*/
/*.main-navigation {*/
/*	display: block;*/
/*	width: 100%;*/
/*}*/

/*.main-navigation ul {*/
/*	display: none;*/
/*	list-style: none;*/
/*	margin: 0;*/
/*	padding-left: 0;*/
/*}*/

/*.main-navigation ul ul {*/
/*	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);*/
/*	float: left;*/
/*	position: absolute;*/
/*	top: 100%;*/
/*	left: -999em;*/
/*	z-index: 99999;*/
/*}*/

/*.main-navigation ul ul ul {*/
/*	left: -999em;*/
/*	top: 0;*/
/*}*/

/*.main-navigation ul ul li:hover > ul,*/
/*.main-navigation ul ul li.focus > ul {*/
/*	display: block;*/
/*	left: auto;*/
/*}*/

/*.main-navigation ul ul a {*/
/*	width: 200px;*/
/*}*/

/*.main-navigation ul li:hover > ul,*/
/*.main-navigation ul li.focus > ul {*/
/*	left: auto;*/
/*}*/

/*.main-navigation li {*/
/*	position: relative;*/
/*}*/

/*.main-navigation a {*/
/*	display: block;*/
/*	text-decoration: none;*/
/*}*/

/*!* Small menu. *!*/
/*.menu-toggle,*/
/*.main-navigation.toggled ul {*/
/*	display: block;*/
/*}*/

/*@media screen and (min-width: 37.5em) {*/

/*	.menu-toggle {*/
/*		display: none;*/
/*	}*/

/*	.main-navigation ul {*/
/*		display: flex;*/
/*	}*/
/*}*/

/*.site-main .comment-navigation,*/
/*.site-main*/
/*.posts-navigation,*/
/*.site-main*/
/*.post-navigation {*/
/*	margin: 0 0 1.5em;*/
/*}*/

/*.comment-navigation .nav-links,*/
/*.posts-navigation .nav-links,*/
/*.post-navigation .nav-links {*/
/*	display: flex;*/
/*}*/

/*.comment-navigation .nav-previous,*/
/*.posts-navigation .nav-previous,*/
/*.post-navigation .nav-previous {*/
/*	flex: 1 0 50%;*/
/*}*/

/*.comment-navigation .nav-next,*/
/*.posts-navigation .nav-next,*/
/*.post-navigation .nav-next {*/
/*	text-align: end;*/
/*	flex: 1 0 50%;*/
/*}*/

/*!* Posts and pages*/
/*--------------------------------------------- *!*/
/*.sticky {*/
/*	display: block;*/
/*}*/

/*.post,*/
/*.page {*/
/*	margin: 0 0 1.5em;*/
/*}*/

/*.updated:not(.published) {*/
/*	display: none;*/
/*}*/

/*.page-content,*/
/*.entry-content,*/
/*.entry-summary {*/
/*	margin: 1.5em 0 0;*/
/*}*/

/*.page-links {*/
/*	clear: both;*/
/*	margin: 0 0 1.5em;*/
/*}*/

/*!* Comments*/
/*--------------------------------------------- *!*/
/*.comment-content a {*/
/*	word-wrap: break-word;*/
/*}*/

/*.bypostauthor {*/
/*	display: block;*/
/*}*/

/*!* Widgets*/
/*--------------------------------------------- *!*/
/*.widget {*/
/*	margin: 0 0 1.5em;*/
/*}*/

/*.widget select {*/
/*	max-width: 100%;*/
/*}*/

/*!* Media*/
/*--------------------------------------------- *!*/
/*.page-content .wp-smiley,*/
/*.entry-content .wp-smiley,*/
/*.comment-content .wp-smiley {*/
/*	border: none;*/
/*	margin-bottom: 0;*/
/*	margin-top: 0;*/
/*	padding: 0;*/
/*}*/

/*!* Make sure logo link wraps around logo image. *!*/
/*.custom-logo-link {*/
/*	display: inline-block;*/
/*}*/

/*!* Captions*/
/*--------------------------------------------- *!*/
/*.wp-caption {*/
/*	margin-bottom: 1.5em;*/
/*	max-width: 100%;*/
/*}*/

/*.wp-caption img[class*="wp-image-"] {*/
/*	display: block;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*}*/

/*.wp-caption .wp-caption-text {*/
/*	margin: 0.8075em 0;*/
/*}*/

/*.wp-caption-text {*/
/*	text-align: center;*/
/*}*/

/*!* Galleries*/
/*--------------------------------------------- *!*/
/*.gallery {*/
/*	margin-bottom: 1.5em;*/
/*	display: grid;*/
/*	grid-gap: 1.5em;*/
/*}*/

/*.gallery-item {*/
/*	display: inline-block;*/
/*	text-align: center;*/
/*	width: 100%;*/
/*}*/

/*.gallery-columns-2 {*/
/*	grid-template-columns: repeat(2, 1fr);*/
/*}*/

/*.gallery-columns-3 {*/
/*	grid-template-columns: repeat(3, 1fr);*/
/*}*/

/*.gallery-columns-4 {*/
/*	grid-template-columns: repeat(4, 1fr);*/
/*}*/

/*.gallery-columns-5 {*/
/*	grid-template-columns: repeat(5, 1fr);*/
/*}*/

/*.gallery-columns-6 {*/
/*	grid-template-columns: repeat(6, 1fr);*/
/*}*/

/*.gallery-columns-7 {*/
/*	grid-template-columns: repeat(7, 1fr);*/
/*}*/

/*.gallery-columns-8 {*/
/*	grid-template-columns: repeat(8, 1fr);*/
/*}*/

/*.gallery-columns-9 {*/
/*	grid-template-columns: repeat(9, 1fr);*/
/*}*/

/*.gallery-caption {*/
/*	display: block;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Plugins*/
/*--------------------------------------------------------------*!*/

/*!* Jetpack infinite scroll*/
/*--------------------------------------------- *!*/

/*!* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. *!*/
/*.infinite-scroll .posts-navigation,*/
/*.infinite-scroll.neverending .site-footer {*/
/*	display: none;*/
/*}*/

/*!* Re-display the Theme Footer when Infinite Scroll has reached its end. *!*/
/*.infinity-end.neverending .site-footer {*/
/*	display: block;*/
/*}*/

/*!*--------------------------------------------------------------*/
/*# Utilities*/
/*--------------------------------------------------------------*!*/

/*!* Accessibility*/
/*--------------------------------------------- *!*/

/*!* Text meant only for screen readers. *!*/
/*.screen-reader-text {*/
/*	border: 0;*/
/*	clip: rect(1px, 1px, 1px, 1px);*/
/*	clip-path: inset(50%);*/
/*	height: 1px;*/
/*	margin: -1px;*/
/*	overflow: hidden;*/
/*	padding: 0;*/
/*	position: absolute !important;*/
/*	width: 1px;*/
/*	word-wrap: normal !important;*/
/*}*/

/*.screen-reader-text:focus {*/
/*	background-color: #f1f1f1;*/
/*	border-radius: 3px;*/
/*	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);*/
/*	clip: auto !important;*/
/*	clip-path: none;*/
/*	color: #21759b;*/
/*	display: block;*/
/*	font-size: 0.875rem;*/
/*	font-weight: 700;*/
/*	height: auto;*/
/*	left: 5px;*/
/*	line-height: normal;*/
/*	padding: 15px 23px 14px;*/
/*	text-decoration: none;*/
/*	top: 5px;*/
/*	width: auto;*/
/*	z-index: 100000;*/
/*}*/

/*!* Do not show the outline on the skip link target. *!*/
/*#primary[tabindex="-1"]:focus {*/
/*	outline: 0;*/
/*}*/

/*!* Alignments*/
/*--------------------------------------------- *!*/
/*.alignleft {*/

/*	!*rtl:ignore*!*/
/*	float: left;*/

/*	!*rtl:ignore*!*/
/*	margin-right: 1.5em;*/
/*	margin-bottom: 1.5em;*/
/*}*/

/*.alignright {*/

/*	!*rtl:ignore*!*/
/*	float: right;*/

/*	!*rtl:ignore*!*/
/*	margin-left: 1.5em;*/
/*	margin-bottom: 1.5em;*/
/*}*/

/*.aligncenter {*/
/*	clear: both;*/
/*	display: block;*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*	margin-bottom: 1.5em;*/
/*}*/

/* USER VARIABLES SECTION */

:root {
    --accent: #0069A9;
    --firstcolor: #E0453F;
    --fontsize: 16px;
    --textcolor: #222;
    --lineheight: 1.65;
    --userfont: monsterrat, sans-serif;
    --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

@font-face { src: url("assets/fonts/Montserrat-Light.woff2") format("woff2"); font-family: "monsterrat"; font-weight: 300; font-style: normal; }
@font-face { src: url("assets/fonts/Montserrat-Regular.woff2") format("woff2"); font-family: "monsterrat"; font-weight: 400; font-style: normal; }
@font-face { src: url("assets/fonts/Montserrat-Medium.woff2") format("woff2"); font-family: "monsterrat"; font-weight: 500; font-style: normal; }
@font-face { src: url("assets/fonts/Montserrat-SemiBold.woff2") format("woff2"); font-family: "monsterrat"; font-weight: 600; font-style: normal; }


::placeholder { color: #666; }
::selection { background-color: var(--firstcolor); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

html{
    height: 100%;
}

body {
    font-family: var(--userfont);
    font-size: var(--fontsize);
    line-height: var(--lineheight);
    color: var(--textcolor);
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.btn {
    border: none;
    background: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 500;
    font-size: 36px;
    сolor: #222;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    сolor: #222;
    padding-bottom: 30px;
    /*margin-bottom: 150px;*/
    /*margin-top: 150px;*/

}

p {
    font-weight: 400;
    font-size: 18px;
    color: #222222;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#wpcf7-f649-o1 .wpcf7-response-output {
    color: #000!important;
    margin: 0!important;
}

.wpcf7 form .wpcf7-response-output {
    color: #fff!important;
    border-radius: 5px!important;
    margin: -44em 0.5em 1em!important
}

.wpcf7-not-valid-tip {
    position: absolute!important;
}
.button__red {
    width: 300px!important;
    height: 60px!important;
    background-color: var(--firstcolor)!important;
    border: 1px solid var(--firstcolor)!important;
    border-radius: 3px!important;
    color: #fff!important;
    font-weight: 500!important;
    font-size: 24px!important;
    transition: .25s ease-in-out!important;
    margin-top: 50px!important;
}

.filter__button-button__blue {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    transition: .25s ease-in-out;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    color: #fff;
}

.filter__button-button__red {
    background-color: var(--firstcolor);
    border: 1px solid var(--firstcolor);
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    transition: .25s ease-in-out;
    margin-top: 50px;
    width: 200px;
    height: 40px;
    color: #fff;

}

.wo__button-button__red {
    background-color: var(--firstcolor);
    border: 1px solid var(--firstcolor);
    border-radius: 3px;
    font-weight: 500;
    font-size: 18px;
    transition: .25s ease-in-out;
    width: 200px;
    height: 40px;
    color: #fff;
    display: block;
    margin: 50px auto;
    text-decoration: none;
    line-height: 2;
}

.button__send-form .button__red {
    margin: 0;
}

.button__red:hover {
    border: 3px solid var(--accent)!important;
}

.button__red span {
    padding-right: 40px;
    transition: .25s ease-in-out;
}

.button__red span:hover {
    padding-right: 35px;
}

/* HEADER */

.header {
    flex: 0 0 auto;
}

.image {
    max-width: 100%;
    margin-bottom: var(--bs-gutter-x);
    border-radius: 4px;
}

.accent {
    color: var(--accent);
    font-weight: bold;
}

.header__top {
    background-color: var(--accent);
    height: 160px!important;
    border-bottom: 1px solid #fff;
}

.logo {
    line-height: 156px;
}

.contacts {
    height: 100%;
    line-height: 40px;
    color: #fff;
}

.contacts__phone a {
    text-decoration: none;
    color: #ffffff;
    transition: .25s ease-in-out;
}

.contacts__phone a:hover {
    color: var(--firstcolor);
}

.contacts__phone span {
    padding-left: 3px;
    color: #ffffff;
    transition: .25s ease-in-out;
    cursor: pointer;
}

.contacts__phone span:hover {
    color: var(--firstcolor);
}

.mobile__info {
    display: none!important;
}

.social__icons a {
    padding-right: 10px;
    padding-left: 10px;
}

.search {
    position: relative;
}

.input-group.search .search__form-input {
    border: none;
    background-color: var(--accent);
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    position: relative;
}

.search__form-input::placeholder {
    color: #ffffff;
    font-size: 14px;
}

.search__form-button {
    border: none;
    background: none;
    border-bottom: 1px solid #fff;
    position: absolute;
    right: 5px;
}

.search__form-button img {
    width: 17px;
}

.cart {
    position: relative;
}

.count {
    position: absolute;
    right: -5px;
    top: -13px;
    background-color: #ffffff;
    border-radius: 100px;
    width: 20px;
    height: 20px;
}

.count span {
    position: absolute;
    right: 5px;
    top: -2px;
    color: var(--firstcolor);
    font-weight: 500;
}

.header__bottom {
    background-color: var(--accent);
    height: 35px;
    line-height: 35px;
    position: relative;
}

.menu .menu__item a {
    display: block;
    color: #fff;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    transition: .25s ease-out;
}

.menu .menu__item a:hover {
    background-color: var(--firstcolor);
}

.menu__item.active a {
    background-color: var(--firstcolor);
}

.menu__mobile {
    display: none;
}

.sub__menu.sub {
    display: none;
    background: #fff;
    position: absolute;
    color: #000;
    width: 265px;
}

.sub a {
    color: #000!important;
}

.sub a:hover {
    color: #fff!important;
}


.text {
    padding-bottom: 70px;
}

/* END__HEADER */


/* WRAPPER */



/* END__WRAPPER */

.wrapper {
    flex: 1 0 auto;
}

.offer__slide {
    height: 700px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.info__banner {
    height: 100%;
}

.middle {
    margin-top: 50px;
    position: relative;
}

.bg__section-middle {
    background: url(assets/images/bg__middle.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 60%;
    height: 689px;
    position: absolute;
    top: 28px;
    right: 0;
}



/* FOOTER */

.footer {
    width: 100%;
    background-color: #4B4B4B;
    color: #fff;
    height: 500px;
    flex: 0 0 auto;
}

.text__logo {
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
    line-height: 1.5;
    width: 200px;
    font-weight: 300;
    color: #fff;
}

.social__footer {
    background: rgba(162, 162, 162, 0.45);
    border-radius: 3px;
    width: 265px;
    margin-top: 20px;
}

.social__icons {
    text-align: center;
}

.menu__footer {
    line-height: 60px;
}

.menu__item-footer a {
    text-decoration: none;
    color: #fff;
    transition: .25s ease-in-out;
}

.menu__item-footer a:hover {
    color: var(--accent);
}

.copyright {
    background-color: var(--accent);
    color: #ffffff;
    width: 100%;
    height: 50px;
    font-size: 12px;
    font-weight: 300;
}

.info {
    text-align: center;
    height: 450px;
}


.vantage__items {
    text-align: center;
}

.vantage__items img {
    width: 200px;
}

.vantage h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}


/* produce section  */

.produce__grid {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 0fr 1fr 1fr 1fr;
    gap: 20px;
    height: 100%;

}

.produce__grid p {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 3px;
    background-color: var(--accent);
    color: #fff;
}

.produce__item-first {

    background: linear-gradient(0deg, rgba(10, 105, 169, 0.3), rgba(10, 105, 169, 0.3)), url("assets/images/product1.png") no-repeat;
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    height: 800px;
    position: relative;
    cursor: pointer;
}

.produce__item-second {

    background: var(--accent);
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;
    height: 400px;
    position: relative;
    cursor: pointer;
}

.about__info p {
    right: 93px;
    left: 35px;
    top: 95px;
}

.about__info img {
    position: absolute;
    top: 200px;
    left: 41px;
}

.produce__item-third {

    background: linear-gradient(0deg, rgba(10, 105, 169, 0.3), rgba(10, 105, 169, 0.3)), url("assets/images/product3.png") no-repeat;
    background-size: cover;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-row-end: 2;
    grid-column-end: 5;
    height: 400px;
    position: relative;
    cursor: pointer;
}

.produce__item-fourth {

    background: linear-gradient(0deg, rgba(10, 105, 169, 0.3), rgba(10, 105, 169, 0.3)), url("assets/images/product4.png") no-repeat;
    background-size: cover;
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;
    height: 380px;
    position: relative;
    cursor: pointer;
}

.produce {
    margin-bottom: 60px;
}

.produce h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.feedback {
    background: url("assets/images/feedback__bg.png") no-repeat;
    background-size: cover;
    height: 700px;
}

.feedback__container{
    height: 590px;
    margin-top: 60px;
}

.feedback h1 {
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.feedback p {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.form input {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    background: rgba(196, 196, 196, 0.62);
    border: none;
    border-radius: 3px;
}

.form input::placeholder {
    color: #000;
}

.form textarea {
    width: 100%;
    background: rgba(196, 196, 196, 0.62);
    border: none;
    border-radius: 3px;
}

.form textarea::placeholder {
    color: #000000;
}

.geography h1 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 70px;
}

.politics {
    padding-top: 15px;
}

.container__map {
    margin-bottom: 65px;
}

.container__mobile {
    display: none!important;
}

.quantity {
    display: none;
}

.product_meta {
    display: none;
}

.onsale {
    display: none;
}

/* product */
.woocommerce-breadcrumb {
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    color: #797979;
    transition: .25s ease-in-out;
}

.breadcrumbs a {
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    color: #797979;
    transition: .25s ease-in-out;
}

.breadcrumbs span {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    color: #797979;
    transition: .25s ease-in-out;
}

.breadcrumbs a:hover {
    color: #222222;
}

/* filters
 */

.filter__items-applicability, .filter__items-fromUGP, .filter__items-diesel {
    border-bottom: 1px solid #999;
    cursor: pointer;
}

.filter__items {
    box-shadow: 3px 4px 5px rgb(0 0 0 / 6%);
    height: auto;
}

.filter__items-availability {
    text-align: center;
    padding-top: 50px;
}

.filter__button {
    text-align: center;
}

.dump__link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 40px;
}

.filter__name {
    line-height: 2.4;
    height: 100%;
}

.options-panel {
    display: none;
    margin-left: 29px;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.option__block {
    display: inline-block;
    padding-right: 10px;
}

.filter__name img {
    padding-right: 20px;
}


/* product__list */

.product__list {
    margin-top: 50px;
}

.product__list-group {
    flex-flow: wrap;
}

.product__list-item {
    width: 300px;
    height: 464px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 33px;
    text-align: center;
    cursor: pointer;
    transition: .15s ease-out;
}

.product__list-item:hover {
    height: 600px;
    margin-bottom: -170px;
    z-index: 1;

}

.hidden__block-button {
    display: none;
}

.product__list-item:hover .hidden__block-button {
    display: block;
}

.product__list-item p {
    font-size: 14px;
    padding: 10px;
}

.product__list-item img {
    margin-top: 40px;
    margin-bottom: 40px;
}

.product__list-item a {
    font-size: 18px;
}

.menu__mobile-container {
    display: none;
}

.sort__product-items a {
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    padding-right: 20px;
    transition: .25s ease-in-out;
}

.sort__product-items a:hover {
    color: #222222;
}

.sort__product-items a.active {
    color: #222222;
}

.pagination-container span {
    color: #999;
    margin-bottom: 10px;
}

.pagination__list {
    margin-top: 15px;
}

.pagination__list a {
    padding: 5px 10px;
    color: #797979;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    transition: .25s ease-in-out;
}

.pagination__list a:hover {
    color: var(--accent);
    background: rgba(196, 196, 196, 0.3);
}

.pagination__list a.active {
    color: var(--accent);
    background: rgba(196, 196, 196, 0.3);
}

.about__container {
    margin-top: 40px;
    margin-bottom: 50px;
}

.breadcrumbs {
    margin-top: 75px;
}

.title {
    margin-top: 30px;
    margin-bottom: 70px;
}

/* product-card */

.product__thumbnails-list li {
    padding-right: 20px;
}

.product__right {
    width: 580px;
    margin-top: 90px;
}

.product__button-button__red, .single_add_to_cart_button, .product__button-button__blue {
    width: 265px;
    height: 39px;
    border: none;
    color: #fff;
    font-size: 18px;
}

.product__button-group {
    margin-top: 30px;
}

.product__button-button__red, .single_add_to_cart_button {
    background-color: var(--firstcolor);
}

.product__button-button__blue {
    background-color: var(--accent);
}

.special__offer {
    color: var(--accent);
    transition: .25s ease-in-out;
}

.special__offer:hover {
    color: var(--accent);
    text-decoration: underline;
}

.menu__list-product {
    margin-top: 50px;
}

.menu__list li {
    padding-bottom: 10px;
}

.menu__list img {
    padding-right: 10px;
}

.menu__list a {
    color: #222222;
    transition: .25s ease-in-out;
}

.menu__list a:hover {
    text-decoration: underline;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabs {
    margin-top: 100px;
    margin-bottom: 20px;
}

.tabs__content {
    margin-bottom: 50px;
}

.resp-tab-active a{
    background-color: var(--accent);
    color: #fff!important;
}

.resp-tab-content {
    display: none;
}

.resp-accordion {
    display: none;
}

/*.resp-tab-content h2 {*/
/*    display: none;*/
/*}*/
.product__name {
    color: #222222;
    text-decoration: none;
}

.woocommerce-product-gallery{
    opacity: 1 !important;
}

.tabs__nav-list a {
    font-size: 18px;
    text-align: center;
    color: #222;
    transition: .25s ease-in-out;
    padding: 10px 30px;
}

.tabs__nav-list a:hover {
    background-color: var(--accent);
    color: #fff;
}

.tabs__nav-list a.active {
    background-color: var(--accent);
    color: #fff;
}

/* cart */

.cart__product-info .title {
    margin: 0;
}

.column__right__menu-list {
    text-align: center;
}

.column__right__menu-list li {
    height: 40px;
    background: linear-gradient(0deg, rgba(0, 105, 169, 0.2), rgba(0, 105, 169, 0.2)), #FFFFFF;
    border: 1px solid rgba(45, 45, 45, 0.1);
    transition: .25s ease-in-out;
}

.column__right__menu-list li.active {
    background: #fff;
}

.column__right__menu-list li:hover {
    background: #fff;
}

.column__right__menu-list a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 2.4;
    color: #222;
}

.cart__product {
    padding-bottom: 30px;
}

.cart__product-info .title__product {
    font-weight: 600;
    font-size: 16px;
}

.cart__product-info .title__model {
    color: #797979;
    font-size: 14px;
}

.minus, .plus {
    cursor: pointer;
}

.count-summ {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    font-weight: 600;
}

.price {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    color: #222222;
}

del {
    display: none;
}

.price__title, .summ__title, .summ__price-total {
    font-weight: 600;
}

.summ__price-total {
    margin-top: 60px;
    margin-bottom: 40px;
}

.cart__button-button__white {
    width: 196px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #222222;
    font-weight: 600;
    line-height: 2.5;
}

.cart__button-button__red {
    width: 196px;
    height: 39px;
    background: var(--firstcolor);
    border: 1px solid var(--firstcolor);
    color: #fff;
    font-weight: 600;
    line-height: 2.5;
}

.cart__button img {
    width: 133px;
    height: 62px;
}

.cart__product-delete {
    cursor: pointer;
}

.cart__button-group {
    margin-bottom: 50px;
}

/* thanks */

.thanks__info {
    margin-bottom: 70px;
}

.thanks__info p {
    font-weight: 500;
    font-size: 24px;
}

.thanks .contacts__phone a {
    color: #222;
    font-weight: 500;
}

.thanks .contact__adress span {
    color: #222;
    font-weight: 500;
}

.thanks .social__icons {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 60px;
}

.thanks .social__icons a {
    padding-left: 0;
}

.list-product-title {
    padding-top: 70px;
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: 600;
}

/* dilers */

.table__product {
    margin-top: 50px;
    margin-bottom: 50px;
}

.resp-tab {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    text-align: center;
}
.resp-tab th, .resp-tab td {
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    font-family: Verdana, sans-serif;
    border: 1px solid var(--accent);
    vertical-align: top;
}
.resp-tab th {
    color: #FFF;
    background: var(--accent);
    font-weight: bold;
    border: 1px solid #1a4a73;
    text-transform: uppercase;
    text-align: center;
}
.resp-tab tr:nth-child(even) {
    background: #edf7ff;
}
.resp-tab td span {
    background: #337AB7;
    color: #FFF;
    display: none;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.table__button-button__red {
    background-color: var(--firstcolor);
    border: 1px solid var(--firstcolor);
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    transition: .25s ease-in-out;
    width: 150px;
    height: 30px;
    color: #fff;
}

/* assembly */

.assembly__bg {
    background: url("assets/images/assembly__bg.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.assembly__photo {
    margin-top: 30px;
    margin-bottom: 100px;
}

.assembly__photo img {
    cursor: pointer;
    width: 250px;
}

/* our */

.table__button-button__white {
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 3px;
    white-space: nowrap;
    height: 30px;
    font-size: 14px;
}

.form__about-illiquid {
    margin-top: 100px;
    margin-bottom: 50px;
}

.form__about-illiquid p {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}

.feedback__form-illiquid input {
    width: 50%;
    background-color: #fff;
    border: 1px solid #9E9E9E;
    font-size: 12px;
    padding-left: 10px;
}

.form__fb-illiquid {
    text-align: center;
}

.feedback__form-illiquid .politics p {
    font-size: 14px;
    font-weight: 400;
}

/* info */

.info__text-list {
    margin-bottom: 100px;
    text-align: left;
}

.info__text-list img {
    padding-right: 20px;
    width: 120px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.info__text-list a {
    font-size: 20px;
    color: #222;
    font-weight: 600;
    transition: .25s ease-in-out;
}

.info__text-list a:hover {
    color: var(--accent);
    text-decoration: underline;
}

/* help */

.help__photo {
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.help__photo-item {
    width: 45%;
    height: 308px;
    background-color: var(--accent);
    margin: 23px;
    text-align: center;
    cursor: pointer;
}

.seo__text-bottom {
    margin-bottom: 50px;
}

/* news */

.news {
    margin-bottom: 50px;
}

.news__container img {
    width: 300px;
}

.news__container .news__title p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.news__button-white {
    background-color: #ffffff;
    border: 1px solid #222;
    border-radius: 3px;
    height: 40px;
}

.news__button-white a {
    color: #222;
}

.news__container-page .image img {
    width: 300px;
    float: left;
    padding-right: 20px;
}

.img-for-text {
    width: 300px;
    float: right;
}
.news__container-page .news__title p {
    float: inherit;
}

/* delivery */

.delivery__company-item {
    background-color: #9E9E9E;
    width: 200px;
    height: 115px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .25s ease-in-out;
}

.delivery__company-item:hover {
    box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);
}

.delivery__company-item .image img {
    width: 100px;
}

.delivery__company-item.active {
    box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);
}

.delivery__company {
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.delivery__text-calculator {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.delivery__text-calculator p {
    font-weight: 600;
    font-size: 24px;
}

/* contacts */

.contacts__map {
    width: 70%;
}

.contacts__info .social__icons {
    text-align: left;
}

.contacts__info a {
    color: #222;
    font-weight: 600;
}

.contacts__info {
    line-height: 4;
    color: #222;
    font-weight: 600;
}

.form__contact {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form__contact .politics p {
    font-size: 12px;
}

.form__contact input {
    background-color: #ffffff;
    border: 1px solid #9b9b9b;
    border-radius: 3px;
    font-size: 12px;
    padding-left: 20px;
}

/* login */

.login__form {
    width: 400px;
    margin-bottom: 70px;
}

.login__form p {
    font-size: 14px;
}

.login__form input {
    background-color: #ffffff;
    font-size: 14px;
    padding-left: 30px;
    border: 1px solid #9E9E9E;

}

.reduction__form {
    width: 400px;
    margin-bottom: 70px;
}

.reduction__form p {
    font-size: 14px;
}

.reduction__form input {
    background-color: #ffffff;
    font-size: 14px;
    padding-left: 30px;
    border: 1px solid #9E9E9E;
}

.registration__form {
    width: 400px;
    margin-bottom: 70px;
}

.registration__form p {
    font-size: 14px;
}

.registration__form input {
    background-color: #ffffff;
    font-size: 14px;
    padding-left: 30px;
    border: 1px solid #9E9E9E;
}

.bushel__password-red {
    background-color: var(--firstcolor);
    height: 40px;
    border: 1px solid var(--firstcolor);
    border-radius: 3px;
    margin-bottom: 10px;
}

.bushel__password-red a {
    color: #fff;
}

.bushel__password-blue {
    background-color: var(--accent);
    height: 40px;
    border: 1px solid var(--accent);
    border-radius: 3px;
    margin-bottom: 10px;
}

.bushel__password-blue a {
    color: #fff;
}

/* get cart */

.cart-form {
    margin-top: 200px;
}

.cart-form p {
    font-weight: 600;
}

.cart-form .politics p {
    font-weight: 400;
}

/* production top */

.items__product-fly {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 9;
}

.items__product-fly .one__img {
    position: absolute;
    left: 169px;
    top: 100px;
    transform: rotate(-12deg);
    z-index: 0;
    width: 400px;
}

.items__product-fly .two__img {
    position: absolute;
    right: 170px;
    top: 95px;
    transform: rotate(11deg);
    z-index: 0;
    width: 400px;
}

.items__product-fly .three__img {
    position: absolute;
    right: 238px;
    top: 258px;
    transform: rotate(42deg);
    z-index: 0;
    width: 400px;
}

.items__product-fly .four__img {
    position: absolute;
    left: 240px;
    top: 258px;
    transform: rotate(-41deg);
    z-index: 0;
    width: 400px;
}

.items__product-fly .five__img {
    position: absolute;
    left: 450px;
    top: 190px;
    width: 400px;
    transform: rotate(270deg);
    z-index: 0;
}

.items__product-fly .six__img {
    position: absolute;
    right: 240px;
    top: 614px;
    transform: rotate(-36deg);
    z-index: 0;
    width: 400px;
}

.items__product-fly2 {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

.absolution__container-item-1, .absolution__container-item-2, .absolution__container-item-3, .absolution__container-item-4, .absolution__container-item-5, .absolution__container-item-6, .absolution__container-item-7 {
    width: 200px;
    height: 200px;
    background-color: #e5e5e5;
    border-radius: 100px;
    z-index: 9;
    transition: .25s ease-in-out;
}

.absolution__container-item-1:hover, .absolution__container-item-2:hover, .absolution__container-item-3:hover, .absolution__container-item-4:hover, .absolution__container-item-5:hover, .absolution__container-item-6:hover, .absolution__container-item-7:hover {
    box-shadow: 2px 3px 12px 14px rgba(34, 60, 80, 0.2);
}

.absolution__container-item-1 a, .absolution__container-item-2 a, .absolution__container-item-3 a, .absolution__container-item-4 a, .absolution__container-item-5 a, .absolution__container-item-6 a, .absolution__container-item-7 a {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    font-size: 16px;
    padding-top: 90px;
    text-align: center;
    color: #222;
    font-weight: 600;
}

.absolution__container-item-1, .absolution__container-item-3 {
    margin-top: 100px;
}

.absolution__container-item-4, .absolution__container-item-6 {
    margin-top: 100px;
}

.fly__production {
    margin-bottom: 300px;
}

.fly__fly {
    position: relative;
}

.fly__production-item1, .fly__production-item2, .fly__production-item3 {
    position: absolute;
    z-index: 9;
}

.fly__production-item1 a, .fly__production-item2 a, .fly__production-item3 a {
    color: #222;
    font-weight: 600;
    font-size: 20px;
    transition: .25s ease-in-out;
    z-index: 9;
}

.fly__production-item1 a:hover, .fly__production-item2 a:hover, .fly__production-item3 a:hover {
    text-shadow: 4px 4px 8px rgba(150, 150, 150, 1);
}



.fly__production-item1 {
    left: 673px;
    top: -60px;
}

.fly__production-item2 {
    left: 571px;
    top: 169px;
}

.fly__production-item3 {
    left: 80px;
}

.fly__fly .img__one {
    position: absolute;
    width: 145px;
    transform: rotate(-63deg);
    top: -73px;
    left: 128px;
    z-index: 0;
}

.fly__fly .img__three {
    position: absolute;
    width: 145px;
    transform: rotate(28deg);
    top: -105px;
    right: 617px;
    z-index: 0;
}

.fly__fly .img__two {
    position: absolute;
    width: 466px;
    transform: rotate(-142deg);
    top: 4px;
    left: 272px;
    z-index: 0;
}

/* modal */

.open-modal {
    overflow: hidden;
}

.open-mobile {
    overflow: scroll;
}

.open-modal::before {
    content: "";
    background-color: rgba(0,0,0,.4);
    position: absolute;
    width: 100%;
    height: 114%;
    top: 0;
    z-index: 999;
}


/*.geography__map {*/
/*	background: url("assets/images/map.png") no-repeat;*/
/*	background-size: cover;*/
/*}*/



/* END__FOOTER */

/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {
    .header__bottom {
        display: none;
    }

    .header__top {
        height: 100px!important;
        border: none;
    }

    .container__mobile {
        display: flex!important;
        padding-left: 8px;
        padding-right: 8px;
        height: 100px;
    }

    .container__desktop {
        display: none;
    }

    .mobile__menu img {
        width: 30px;
    }

    .logo__header {
        width: 99px;
    }

    .contacts__phone span {
        padding-right: 3px;
    }

    .contacts__phone {
        display: flex!important;
        font-size: 12px;
        margin-bottom: -12px;
    }

    .contacts__phone img {
        display: none;
    }

    .info {
        height: 1170px;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 24px;
    }

    .vantage__col {
        flex-direction: column!important;
    }

    .produce__grid {
        display: block;
    }

    .produce__item-first, .produce__item-second, .produce__item-third, .produce__item-fourth {
        height: 400px;
        margin-bottom: 20px;
    }

    .feedback {
        height: 850px;
    }

    .container__politics {
        flex-direction: column;
    }

    .button__send-form .button__red {
        width: 100%;
    }

    .container__politics p {
        width: 100%;
        font-size: 12px;
    }

    .footer {
        height:  840px;
    }

    .menu__footer {
        text-align: center;
        margin-bottom: 36px;
        font-size: 14px;
    }

    .vantage__items {
        margin-bottom: 35px;
    }

    .vantage__items img {
        padding-bottom: 20px;
    }

    .footer .logo {
        display: flex;
        margin-bottom: 70px;
    }

    .footer .text__logo {
        font-size: 12px;
        color: #fff;
    }

    /*.footer	.contacts__phone img {*/
    /*	display: block;*/
    /*}*/

    .container__map img {
        width: 100%;
    }

    .footer .social__footer {
        width: 100%;
    }

    .copyright-text {
        text-align: center;
        margin-top: 18px;
    }

    .menu__mobile-container.open-mobile {
        display: block;
        width: 250px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        height: 100vh;
        z-index: 999999999;
        padding: 20px;
    }

    .close__button-menu {
        position: absolute;
        right: 20px;
    }

    .menu__mobile {
        margin-top: 55px;
        text-align: right;
        font-size: 21px;
        color: var(--accent);
    }

    .menu__mobile-item {
        padding: 10px;
    }

}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
    .text {
        font-size: 18px;
    }
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
    .text {
        font-size: 22px;
    }
}

