/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.header__bottom {
		display: none;
	}

	.header__top {
		height: 100px!important;
		border: none;
	}

	.container__mobile {
		display: flex!important;
		padding-left: 8px;
		padding-right: 8px;
		height: 100px;
	}

	.container__desktop {
		display: none;
	}

	.mobile__menu img {
		width: 30px;
	}

	.logo__header {
		width: 99px;
	}

	.contacts__phone span {
		padding-right: 8px;
	}

	.contacts__phone {
		display: flex!important;
		font-size: 12px;
		margin-bottom: -12px;
	}

	.contacts__phone img {
		display: none;
	}

	.info {
		height: 1170px;
	}

	h1 {
		font-size: 26px;
	}

	h2 {
		font-size: 24px;
	}

	.vantage__col {
		flex-direction: column!important;
	}

	.produce__grid {
		display: block;
	}

	.produce__item-first, .produce__item-second, .produce__item-third, .produce__item-fourth {
		height: 400px;
		margin-bottom: 20px;
	}

	.feedback {
		height: 850px;
	}

	.container__politics {
		flex-direction: column;
	}

	.button__send-form .button__red {
		width: 100%;
	}

	.container__politics p {
		width: 100%;
		font-size: 12px;
	}

	.footer {
		height:  840px;
	}

	.menu__footer {
		text-align: center;
		margin-bottom: 36px;
		font-size: 14px;
	}

	.vantage__items {
		margin-bottom: 35px;
	}

	.vantage__items img {
		padding-bottom: 20px;
	}

	.footer .logo {
		display: flex;
		margin-bottom: 70px;
	}

	.footer .text__logo {
		font-size: 12px;
		color: #fff;
	}

	/*.footer	.contacts__phone img {*/
	/*	display: block;*/
	/*}*/

	.container__map img {
		width: 100%;
	}

	.footer .social__footer {
		width: 100%;
	}

	.copyright-text {
		text-align: center;
	}

	.menu__mobile-container.open-mobile {
		display: block;
		width: 250px;
		position: absolute;
		right: 0;
		top: 0;
		background-color: #fff;
		height: 100vh;
		z-index: 999999999;
		padding: 20px;
	}

	.close__button-menu {
		position: absolute;
		right: 20px;
	}

	.menu__mobile {
		margin-top: 55px;
		text-align: right;
		font-size: 21px;
		color: var(--accent);
	}

	.menu__mobile-item {
		padding: 10px;
	}

}

/* xs <= Small (sm) */
@media (max-width : 576px) {

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
